h1 ⚠️ Alert Level #{item.level}: #{item.name}

div(style='#{styles.info}') #[strong #{item.name}] has reported an error at #{reported_time} on #{reported_date}:

pre(style='#{styles.pre}') #{JSON.stringify(item, null, '  ')}
